server:
  port: 8080

spring:

  security:
    user:
      name: admin
      password: admin123

  jpa:
    database: h2
    show-sql: false

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:~/.zhiliuyun/h2/data;AUTO_SERVER=TRUE
    username: root
    password: root123

  flyway:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:~/.zhiliuyun/h2/data
    user: root
    password: root123
    locations: classpath:db/migration/h2

logging:
  level:
    root: info
    com.isxcode.star: info
  logback:
    rollingpolicy:
      total-size-cap: 100MB
      max-history: 30
      max-file-size: 10MB

spark-yun:
  default-agent-port: 30178
  tmp-dir: /tmp
  resource-dir: /var/lib/zhiqingyun

isx-app:
  use-port: true
  use-ssl: false
  resources-path: classpath:resources